    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel ">
      <nav class="navbar navbar-expand-sm navbar-default">
          <div id="main-menu" class="main-menu collapse navbar-collapse">
              <ul class="nav navbar-nav ">
                  <li class="active">
                      <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                  </li>
                  <li class="menu-title">UI elements</li><!-- /.menu-title -->
                  <li class="menu-item-has-children dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Components</a>
                      <ul class="sub-menu children dropdown-menu">                            <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Buttons</a></li>
                          <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Badges</a></li>
                          <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Tabs</a></li>

                          <li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Cards</a></li>
                          <li><i class="fa fa-exclamation-triangle"></i><a href="ui-alerts.html">Alerts</a></li>
                          <li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Progress Bars</a></li>
                          <li><i class="fa fa-fire"></i><a href="ui-modals.html">Modals</a></li>
                          <li><i class="fa fa-book"></i><a href="ui-switches.html">Switches</a></li>
                          <li><i class="fa fa-th"></i><a href="ui-grids.html">Grids</a></li>
                          <li><i class="fa fa-file-word-o"></i><a href="ui-typgraphy.html">Typography</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                      <ul class="sub-menu children dropdown-menu">
                          <li><i class="fa fa-table"></i><a href="tables-basic.html">Basic Table</a></li>
                          <li><i class="fa fa-table"></i><a href="tables-data.html">Data Table</a></li>
                      </ul>
                  </li>

                  <!--<li class="menu-title">Facturacion</li> /.menu-title -->

                  <li class="menu-item-has-children dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Facturacion</a>
                      <ul class="sub-menu children dropdown-menu">
                          <li><i class="menu-icon fa fa-th"></i><a routerLink='/Facturacion'>Gestionar Factura</a></li>
                          <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Lista Facturacion</a></li>
                      </ul>
                  </li>

                 <!-- <li class="menu-title">Contactos</li> /.menu-title -->

                  <li class="menu-item-has-children dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Contactos</a>
                      <ul class="sub-menu children dropdown-menu">
                          <li><i class="menu-icon fa fa-fort-awesome"></i><a routerLink="listaClientes">Clientes</a></li>
                          <!-- <li><i class="menu-icon fa fa-fort-awesome"></i><a routerLink="Clientes">Agregar Clientes</a></li> -->
                          <li><i class="menu-icon ti-themify-logo"></i><a routerLink="listaProvedores">Provedores</a></li>
                          <!-- <li><i class="menu-icon ti-themify-logo"></i><a routerLink="Provedores">Provedores</a></li> -->
                      </ul>
                  </li>

                  <li class="menu-title">Reportes</li><!-- /.menu-title -->
                  <li>
                      <a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>
                  </li>
                  <li class="menu-item-has-children dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                      <ul class="sub-menu children dropdown-menu">
                          <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>
                          <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>
                          <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>
                      </ul>
                  </li>

                  <li class="menu-item-has-children dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                      <ul class="sub-menu children dropdown-menu">
                          <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                          <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                      </ul>
                  </li>
                  <li class="menu-title">Configuracion</li><!-- /.menu-title -->
                  <li class="menu-item-has-children dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                      <ul class="sub-menu children dropdown-menu">
                          <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                          <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                          <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                      </ul>
                  </li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </nav>
  </aside>
  <!-- /#left-panel -->

   <!-- Right Panel -->
   <div id="right-panel" class="right-panel ">
    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header ">
                <a class="navbar-brand" href="./"><img src="assets/imagen/Logo0.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="assets/imagen/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">3</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown for-message">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-envelope"></i>
                            <span class="count bg-primary">4</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                    <p>Hello, this is an example msg</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                    <p>Hello, this is an example msg</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                        <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                        <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                        <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- /#header -->
    <div>
<div class="">
  <router-outlet></router-outlet>

</div>
    </div>

  <footer>


  </footer>
