<div class="content">
  <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Lista de Provedores</strong>
        </div>


        <div class="m-4">
          <button type="button" class="btn btn-success float-right" routerLink="AgregarProveedor">Crear Proveedor</button>
        </div>

        <form [formGroup]="ListaProveForm" class="search-form col-12">
          <div class="input-group">
            <input class="form-control col-6" type="text" formControlName="Proveedor_Nombre" placeholder="Nombre" aria-label="Search" required autocomplete="off">
            <button class="btn btn-primary m-1" type="button" (click)="BuscarProveedor(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button class="btn  btn-info m-1" type="button" (click)="ResetForm()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
          </div>

        


        <div class="col-7" *ngIf="this.ProveedoresLista?.length > 0">
            <span>{{ cantidad_Registro }} registro(s)</span>
          </div>

          <div class="d-flex justify-content-end m-4" id="order_by" *ngIf="this.ProveedoresLista[0]?.Cantidad_Registros > 10">
            <strong>Cant. registros: </strong>
            <select (change)="BuscarProveedor(0)"  class="" formControlName="PageSize">
              <option value="10">10</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>

        </div>
      </form>


        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                      <!-- <th scope="col">#</th> -->
                      <th scope="col">Nombre</th>
                      <th scope="col">Correo </th>
                      <th scope="col">Direccion </th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Celular</th>
                       <th scope="col">RNC</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of ProveedoresLista | paginate: { itemsPerPage: _ProvedorServis.FiltroProveedor.PageSize, currentPage: indice, totalItems: cantidad_Registro}">
                    <!-- <th scope="row">1</th> -->
                    <td>{{p?.Proveedor_Nombre}}</td>
                    <td>{{p?.Proveedor_Email}}</td>
                    <td>{{p?.Proveedor_Direccion}}</td>
                    <td>{{p?.Proveedor_Telefono}}</td>
                    <td>{{p?.Proveedor_Celular}}</td>
                    <td>{{p?.Proveedor_RNC}}</td>
                    <td><button class="btn btn-success" [routerLink]="'Provdetalle/'+ p.Proveedor_id"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                   <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="my-pagination mr-5" *ngIf="ProveedoresLista?.length > 0" >
      <pagination-controls (pageChange)="indice = $event; BuscarProveedor(1)" autoHide="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
  </div>
  </div>
  </div>
