<div class="content">
  <div class="col-lg-12">

    <div class="card" >
      <div class="card-header">
        <strong>Crear Provedor</strong>
    </div>
    <div class="card-body card-block">
    <form [formGroup]="ProvDetalleForm" class="form-horizontal">


    <div class="row form-group">
      <div class="col col-md-1"><label for="text-input" class=" form-control-label">Provedor:</label></div>
      <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" formControlName="Proveedor_Nombre" placeholder="Nombre" class="form-control">
        </div>
  </div>


  <div class="row form-group">
    <div class="col-md-7 mb-6">
      <ng-select [items]="Categoria" class="custom" bindLabel="Categoria_Nombre" bindValue="Categoria_id"
      placeholder="Categoria_id" formControlName="Categoria_id" ></ng-select>
  </div>
  </div>

    <div class="row form-group">
      <div class="col col-md-1"><label for="text-input" class=" form-control-label">RNC:</label></div>
      <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" formControlName="Proveedor_RNC" placeholder="RNC" class="form-control">
       </div>
  </div>

  <div class="row form-group">
    <div class="col col-md-1"><label for="text-input" class=" form-control-label">Correo:</label></div>
    <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" formControlName="Proveedor_Email" placeholder="Correo" class="form-control">
      </div>
  </div>

  <div class="row form-group">
    <div class="col col-md-1"><label for="text-input" class=" form-control-label">Telefono:</label></div>
    <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" mask="(000)-000-0000" formControlName="Proveedor_Telefono" placeholder="Telefono" class="form-control">
      </div>
</div>

<div class="row form-group">
  <div class="col col-md-1"><label for="text-input" class=" form-control-label">Celular:</label></div>
  <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" mask="(000)-000-0000" formControlName="Proveedor_Celular" placeholder="Celular" class="form-control">
    </div>
</div>


<div class="row form-group">
  <div class="col col-md-1"><label for="textarea-input" class=" form-control-label">Direccion:</label></div>
  <div class="col-6 col-md-9"><textarea name="textarea-input"  cols="5" rows="5" id="textarea-input" placeholder="Direccion..." formControlName="Proveedor_Direccion" class="form-control"></textarea></div>
</div>

<div class="card-body">
  <div class="col-md-6 mb-3">
  <button type="button" class="btn btn-primary">Actualizar</button>
  &nbsp;
 <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
  </div>
      </form>
</div>
  </div>
</div>
</div>
